.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

/*JQuery Form Validation CSS Start*/
#errorContainer, #errorContainerModal, #errorContainer-category, .errorContainer {
    display: none;
    overflow: auto;
    background-color: #FFDDDD;
    border: 1px solid #FF2323;
    border-radius: 4px;
    padding-top: 0;
    margin: 10px 0;
}

#errorContainer, #errorContainerModal, #errorContainer-category > p, .errorContainer > p {
    padding: 20px 20px 0;
}

#errorContainer, #errorContainerModal, #errorContainer-category label {
    float: none;
    width: auto;
}

/*label.error {color:#cc0000;}*/
input.error, select.error, .select2.error {
    border: 1px solid #cc0000 !important;
    border-radius: 5px !important;
    border-bottom-color: red !important;
}

.bold {
    font-weight: bold !important;
}

.black {
    color: #000000 !important;
}

.bold_underlined {
    font-weight: bold !important;
    text-decoration: underline !important;
}

.select2-container--default .select2-selection--single {
    border: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
/*JQuery Form Validation CSS End*/