.alert, .footer_wthree_agile, .footer_top_agile_w3ls, .banner_inner_content_agile_w3l, div#home, input.printButton {
    display: none
}

.heading > h2 {
    display: none;
}

.agile-form {
    border: 1px solid;
}